<h1>Athlete Data</h1>

<table>
  <thead>
    <tr>
      <th style="border: 1px solid;">Athlete</th>
      <th style="border: 1px solid;">Test</th>
      <th style="border: 1px solid;">Value (average)</th>
    </tr>
  </thead>
  <tbody>
    <% @athletes.each do |individual_athlete| %>
      <tr>
        <td style="border: 1px solid;">
          <%= individual_athlete[:athlete] %>
        </td>
        <td style="border: 1px solid;">
          <%= individual_athlete[:test] %>
        </td>
        <td style="border: 1px solid;">
          <%= individual_athlete[:average] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>